body {
    margin:0;
    font-family: 'Inter', sans-serif;
    background:#0b0b0b;
    color:white;
}

/* HERO */
.hero {
    background:white;
    color:black;
    padding:60px 20px;
}

.container {
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width:1100px;
    margin:auto;
}

.hero-text h1 {
    font-size:36px;
    color:#ff2d2d;
}

.logo {
    width:120px;
    margin-bottom:20px;
}

.hero-img img {
    width:350px;
}

.btn {
    display:inline-block;
    background:red;
    color:white;
    padding:15px 25px;
    border-radius:30px;
    margin:20px 0;
    text-decoration:none;
}

/* FORM */
.form-section {
    display:flex;
    justify-content:center;
    padding:60px 20px;
}

.form-box {
    background:#1a1a1a;
    padding:30px;
    border-radius:15px;
    width:400px;
}

.form-box input {
    width:100%;
    padding:15px;
    margin:10px 0;
    background:#111;
    border:none;
    color:white;
}

.btn-form {
    display:block;
    background:red;
    text-align:center;
    padding:15px;
    margin-top:10px;
    text-decoration:none;
    color:white;
}

/* TABELA */
.tabela {
    padding:60px 20px;
    text-align:center;
}

table {
    width:100%;
    max-width:700px;
    margin:auto;
    border-collapse:collapse;
}

th {
    background:red;
    padding:15px;
}

td {
    padding:15px;
    border-bottom:1px solid #333;
}

.lucro {
    color:#00ff88;
}

.destaque {
    background:#1a1a1a;
}

/* PASSOS */
.passos {
    padding:60px 20px;
    max-width:800px;
    margin:auto;
}

.passo {
    display:flex;
    margin:20px 0;
}

.passo span {
    color:red;
    font-size:30px;
    margin-right:20px;
}

/* DEPOIMENTOS */
.depoimentos {
    padding:60px 20px;
    max-width:800px;
    margin:auto;
}

.card {
    display:flex;
    background:#1a1a1a;
    padding:20px;
    margin:20px 0;
    border-radius:10px;
}

.card img {
    width:60px;
    border-radius:50%;
    margin-right:15px;
}

/* BANNER */
.banner img {
    width:100%;
}